
body {
 background-color: rgb(70, 179, 164);
 margin: 0;
}
#header {
    background-color: #f1f1f1;
    padding: 20px;
    
  }
h1{
    font-family: Georgia, sans-serif;
    font-size: 40px;
    text-align: center;
}
p{
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-align: left;
}
h2{
    font-family: Georgia, Times, serif;
    font-size: 25px;
    text-align: left;
}
h3{
    font-family: Georgia, Times, serif;
    font-size: 20px;
    text-align: left;
}
