h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
p{
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-align: left;
    text-align: center;
}