body {
    margin: 0;
    background-color: #f2f2f2;
  }

h1{
    font-family: Georgia, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #f2f2f2;
}
p{
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-align: left;
}
h2{
    font-family: Georgia, Times, serif;
    font-size: 25px;
    text-align: left;
}
h3{
    font-family: Georgia, Times, serif;
    font-size: 20px;
    text-align: left;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: h;
  }
  
  /* Style the header */
  .header {
    background-color: #333;
    padding: 1px;
    text-align: center;

   
   
  }
  .footer {
    background-color: #333;
    padding: 5px 8px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    }
 #sebastianhauglid {
text-align: center;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #f2f2f2;
 }
#text{
    resize: none;
    text-align: center;
}
input[type=text]{
  padding: 12px 14px;
  margin: 6px 0;
  border: 100px;
position: relative;
box-sizing: border-box;
}
input[type=label]{
  padding: 12px 14px;
  margin: 6px 0;
  border: 100px solid;
position: relative;
box-sizing: border-box;
}